.git
.state
.rad
.azure
.local
.venv
.pytest*
.ruff_cache
**/__pycache__
**/*.pyc
**/*.pfx
**/*.key
**/*.pem
**/*.kubeconfig
**/*.p12
**/*.p8
**/*.jks
**/*.keystore
**/*.secrets.*
**/.secrets
**/.env
**/.env.*
**/acme
**/letsencrypt
**/.terraform
**/*.tfstate*
tests
FINDINGS.md
DECISIONS.md
